<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">

        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/inicio" aria-current="page">Inicio <span
                            class="visually-hidden">(current)</span></a>
                </li>
                @if (userRole === 'CLIENTE') {
                    <a routerLink="/gestionNegocio" style="padding-right: 20px; text-decoration: none; color: black;"> <i
                        class="fa fa-users"></i> Gestión Negocio</a>
                }
                @if (userRole === 'CLIENTE') {
                    <a routerLink="/buscarNegocio" style="padding-right: 20px; text-decoration: none; color: black;"> <i
                        class="fa fa-map"></i> Buscar Negocio</a>
                }
                @if (userRole === 'MODERADOR') {
                    <a routerLink="/aprobarNegocio" style="padding-right: 20px; text-decoration: none; color: black;"> <i
                        class="fa fa-map"></i> Aprobar Negocio</a>
                }
                


            </ul>

            @if (!isLoggedIn) {
                <button type="button" class="btn btn-primary" routerLink="/login">
                    <i class="fa fa-user"></i> Iniciar sesión
                </button>
            }
            

            @if (isLoggedIn) {
              <strong>  {{ userName }} </strong>
            }
            @if (isLoggedIn) {
                <button type="button" class="btn btn-primary" (click)="cerrarSesion()">
                    <i class="fa fa-user"></i> Cerrar sesión
                </button>
            }

            <!-- <form class="d-flex my-2 my-lg-0">
                <input class="form-control me-sm-2" type="text" placeholder="Ingresar información" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>-->
        </div>
    </div>
</nav>

<!-- Button trigger modal -->
