<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">

        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/inicio" aria-current="page">Inicio <span
                            class="visually-hidden">(current)</span></a>
                </li>
                <a routerLink="/gestionNegocio" style="padding-right: 20px; text-decoration: none; color: black;"> <i
                        class="fa fa-users"></i> Gestión Negocio</a>


            </ul>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <i class="fa fa-user"></i> Iniciar sesión
            </button>
            <form class="d-flex my-2 my-lg-0">
                <input class="form-control me-sm-2" type="text" placeholder="Ingresar información" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
    </div>
</nav>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Iniciar Sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <label>Ingrese Correo</label>
                        <input type="text" class="form-control" placeholder="example@gmail.com" [(ngModel)]="loginDTO.email">
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label>Ingrese Contraseña</label>
                        <div class="input-group">
                            <input ID="txtPassword" type="Password" Class="form-control" [(ngModel)]="loginDTO.password">
                            <div class="input-group-append">
                                <button id="show_password" class="btn btn-primary" type="button"
                                (click)="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label>Tipo Usuario</label>
                        <div class="form-check">
                            <input class="form-check-input" name="tipoUsuario" value="Cliente" type="radio" id="radio_cliente" />
                            <label class="form-check-label" for="radio_cliente"> Cliente </label>
                            
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="tipoUsuario" value="Moderador" type="radio" id="radio_moderador" />
                            <label class="form-check-label" for="radio_moderador"> Moderador </label>
                            
                        </div>
                        
                    </div>
                </div>
                <hr>
                <a routerLink="/registro" style=" text-align: center;"> <i class="fa fa-users"></i> Registrarse</a> <br>
                <a routerLink="/rcuperarContraseña" style=" text-align: center;"> <i class="fa fa-password"></i> ¿Ha olvidado su contraseña?</a>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="iniciarSesion()" class="btn btn-secondary">Entrar</button>
            </div>
        </div>
    </div>
</div>